<h1>Help</h1>
<p>
	Get help on the Ruby on Rails tutorial at the 
	<a href="http://golcaracol.com/#help">Rails Tutorial help section</a>
	To get help on this sample app, see the
	<a href="bbc.com/sports"><em>Ruby on Rails Tutorial</em>
	website</a>
</p>